@font-face {
  font-family: "CmxPeru";
  src: url("font/CmxPeru.eot");
  src: url("font/CmxPeru.eot?#iefix") format("embedded-opentype"),
       url("font/CmxPeru.woff") format("woff"),
       url("font/CmxPeru.ttf") format("truetype"),
       url("font/CmxPeru.svg#CmxPeru") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "CmxPeru";
    src: url("font/CmxPeru.svg#CmxPeru") format("svg");
  }
}

[class^="i-"]:before, [class*="i-"]:before,
[class^="i-"]:after, [class*="i-"]:after {   
  font-family: CmxPeru;
  font-style: normal;
}

.i-arrow1:before{content:"\f100"}
.i-arrow2:before{content:"\f101"}
.i-arrow3:before{content:"\f102"}
.i-arrow4:before{content:"\f103"}
.i-arrow5:before{content:"\f104"}
.i-arrow6:before{content:"\f105"}
.i-bars:before{content:"\f106"}
.i-briefcase:before{content:"\f107"}
.i-phone1:before{content:"\f108"}
.i-check1:before{content:"\f109"}
.i-check2:before{content:"\f10a"}
.i-check3:before{content:"\f10b"}
.i-up:before{content:"\f10c"}
.i-circle:before{content:"\f10d"}
.i-close:before{content:"\f10e"}
.i-download:before{content:"\f10f"}
.i-draw:before{content:"\f110"}
.i-exclamation:before{content:"\f111"}
.i-fbook-logo1:before{content:"\f112"}
.i-fbook-logo2:before{content:"\f113"}
.i-card:before{content:"\f114"}
.i-info:before{content:"\f115"}
.i-interface:before{content:"\f116"}
.i-lock1:before{content:"\f117"}
.i-lock2:before{content:"\f118"}
.i-locked1:before{content:"\f119"}
.i-locked2:before{content:"\f11a"}
.i-logout:before{content:"\f11b"}
.i-menu:before{content:"\f11c"}
.i-multimedia:before{content:"\f11d"}
.i-note2:before{content:"\f11e"}
.i-note1:before{content:"\f11f"}
.i-email:before{content:"\f120"}
.i-edit:before{content:"\f121"}
.i-profile:before{content:"\f122"}
.i-question:before{content:"\f123"}
.i-round:before{content:"\f124"}
.i-save:before{content:"\f125"}
.i-school:before{content:"\f126"}
.i-phone2:before{content:"\f127"}
.i-twitter-logo1:before{content:"\f128"}
.i-symbol:before{content:"\f129"}
.i-tool:before{content:"\f12a"}
.i-twitter-logo2:before{content:"\f12b"}
.i-unlocked1:before{content:"\f12c"}
.i-unlocked2:before{content:"\f12d"}
.i-user:before{content:"\f12e"}
.i-web:before{content:"\f12f"}
.i-youtube-logo1:before{content:"\f130"}
.i-youtube-logo2:before{content:"\f131"}