  body {background-color: #DA272B;font-family:'Roboto',sans-serif;color: #404040}
  a, a:hover {text-decoration: none}
  h3 {margin: 0; padding: 0; font-size: 1.1em; font-weight: normal}

  @media (max-width:1399px) {
    .sb-menu {padding-left:250px}
    .menu-desk {width: 250px}
  }
  @media (min-width:1400px) {
    .sb-menu {padding-left:350px}
    .menu-desk {width: 350px}
  }
  @media (max-width:767px) {
    .sb-menu {padding-left:0;padding-top: 90px}
  }
  @media (min-width:768px) {
    .sb-menu {padding-top: 30px}  
  }

.caption {padding:15px;text-align:center}

.sb-menu {
  max-width: 1903px;
  margin: 0 auto
}
.img-responsive {
  width: 100%;
}
.max-img {
  max-width: 100%;
}
.thumbnail {
  overflow: hidden;
  border-radius: 3px;
  position: relative;
  background-color: #222629;
}
a .thumbnail {
  color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3)
}

.triangle {
  position: absolute;
  width: 40px;
  height: 53px;
  right: 8px;
  top: 0;
}

.triangle.nmviajes-luggage2:before, .triangle.nmviajes-aereo1:before {
  position: absolute;
  right: 9px;
  top: 8px;
  color: rgba(34, 34, 34, 0.8);
  font-size: 22px;
}
.thumbnail .mask {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  background: #fff none repeat scroll 0 0;
  transform: scale(0);
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
  opacity: 0.9;
}
.thumbnail:hover .mask {
  transform: scale(1);
}

.bloq1 {
    margin-top: 5px;
    color: #f39c12;
}
span.bfore {
  
    font-size: 11px;
    margin-right: 5px;
}
span.price {
  
  text-decoration: line-through;
  font-size: 20px;
  font-weight: normal;
  color: #f39c12;
}

nav.navbar-default {
  background-color: #2ecc71;
  border-bottom: 3px solid #fff;
  padding-top: 0;
  padding-bottom: 0;
}

.menu-fix {position:fixed;right:0;left:0;height:65px;background-color:#fff;z-index:99999;border: none;box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);border-bottom: 1px solid #DA272B}

.movil {
  padding-top: 18px;
  float: left;
  color: #000;
  display: block
}
.movil span {
  font-size: 24px;
  cursor: pointer;
  padding: 0 15px 15px 0;
  line-height: 20px
}
.brand {
  display: block;
  float: left;
  padding: 10px 0
}
.brand img {
  width: 134px
}
.menu-desk {
  z-index: 9;
  padding:15px;
  /*height:100vh;*/
  height: 100%;
  background-color:#fff;
  position:fixed;
  left:0;
  top:0;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width:767px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
  .thumbnail {
    margin-bottom: 15px;
  }
}

@media (min-width:768px) {
  .container-fluid {
    padding-left: 30px;
    padding-right: 30px;
  }
  .thumbnail {
    margin-bottom: 30px;
  }
}

footer {
  background-color: #191a1c;
  text-align: justify;
  font-size: 11px;
  line-height: normal;
  padding: 30px 0;
}
footer p {
  margin: 0;
  padding: 0;
  color: #ddd;
}

div.he {
  color: #fff;
  margin-bottom: 15px;
      line-height: 32px;
}
ul.ca {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.ca li {
  height: 35px;
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative
}

@media (max-width:767px) {
  ul.ca li {
    margin-right: 2px;
  }
}

@media (min-width:768px) {
  ul.ca li {
    margin-right: 10px;
  }
}

ul.ca li a {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  text-decoration: none;
  font-weight: lighter;
  color: #2980b9;
  background-color: #fff;
  border-radius: 15px;
}

ul.ca li.active a {
    color: #fff;
    background-color: #2980b9;
}

@media (max-width:767px) {
  ul.ca li a {
    font-size: 12px;
    padding: 2px 13px;
  }
}

@media (min-width:768px) {
  ul.ca li a {
    font-size: 14px;
    padding: 2px 24px 3px 24px;
  }
}

ul.ca li:first-child {
  font-weight: lighter;
}

ul.ca li:last-child {
  margin-right: 0 
}

@media (max-width:767px) {
  ul.ca li:first-child {
    font-size: 12px
  }  
}

@media (min-width:768px) {
  ul.ca li:first-child {
    font-size: 20px
  }
}

#packs .mix, #flights .mix {
  display: none;
}

.menu-fix header {
  padding: 0;
}

header {
  padding: 0 15px;
  background-color: #fff
}

.banner2 {
  margin-bottom: 15px;
}

@media (max-width:767px) {
  .logo img {
    width: 100px
  }
  .banner img {
    width: 150px
  }
  .banner {
    padding-top: 15px
  }
}

@media (min-width:768px) {
  .banner img {
    max-width: 100%
  }
  .banner {
    padding-top: 25px
  }
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}

.nav ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.nav ul li:last-child {
  margin-bottom: 0;
}

@media (max-width:767px) {
  nav {
    padding-top: 25px
  } 
}

@media (min-width:768px) {
  nav {
    padding-top: 35px
  }
}

nav ul li a {
  border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 15px;
    background-color: #DA272B;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #7d1d1f;
    color: #fff;
    text-decoration: none;
}
nav ul li a:active, nav ul li a:visited, nav ul li a:link {
    text-decoration: none;
    color: #fff;
        font-weight: normal;
}
nav ul li a:before {
  position: absolute;
  right: 20px
}