
/*	Owl Carousel Owl Demo Theme v1.3.3 */

.carousel {
	position: relative;
}

.owl-carousel {
	position: relative;
}

#fslider .item img, #fslider .item a img, #jslider .item img, #jslider .item a img, #kslider .item img, #kslider .item a img {
	display: block;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	width:100%;
	height: auto;
}

#jslider .item img, #jslider .item a img, #kslider .item img, #kslider .item a img {
	margin-bottom: 20px;
}

.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 0.5s ease;
}

.carousel-control.iright, .carousel-control.right, .carousel-control.aright {
    right: 0;
    left: auto;
}

.carousel-control .i-prev, .carousel-control .i-next {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
    color: rgba(255, 255, 255, 0);
    text-shadow: none;
    transition: color 0.5s ease;
}

.carousel-control .i-prev {
    left: 50%;
    margin-left: -10px;
}

.carousel-control .i-next {
    right: 50%;
    margin-right: -10px;
}

.carousel:hover .carousel-control .i-prev, .carousel:hover .carousel-control .i-next {
    color: rgba(255, 255, 255, 0.8);
}

.carousel-control:hover {
    text-decoration: none;
    outline: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) {
	.carousel-control .i-prev {
	    margin-left: -10px;
	}
	.carousel-control .i-prev, .carousel-control .i-next {
	    width: 30px;
	    height: 30px;
	    margin-top: -10px;
	    font-size: 30px;
	}
}

.owl-controls {
	position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 40%;
    padding-left: 0;
    margin-left: -20%;
    text-align: center;
    list-style: none;
}

@media screen and (min-width: 768px) {
	.carousel-indicators {
	    bottom: 20px;
	}
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 3px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../img/AjaxLoader.gif) no-repeat center center
}
