body {font-family: 'Roboto', sans-serif;color: #FFF;font-size: 17px;line-height: 20px}

a {color: #2980b9;text-decoration: none}
a:hover {color: #FFF;text-decoration: none}
p {padding: 10px;font-weight: 100;color: #fff}

@media (min-width:1200px) {.container {width: 1180px}}

h1, h2, h3, h4, h5, h6 {margin: 10px 0;font-weight: 400;line-height: 20px;color: inherit}
h1, h2 {font-size: 31.5px}
h1, h2, h3 {line-height: 40px}
ul, ol {padding: 0;margin: 0 0 10px 25px}

.bold {font-weight: 700}
.img-100 {max-width: 100%}

.tac {text-align: center}
.tar {text-align: right}
.tal {text-align: left}

.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mb5 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.pt5 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pb5 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}

/* main navigation */
.nav {list-style: none}
.navbar .nav {margin-left: 20px}
.navbar .nav > li {float: left}
.nav > li > a {display: block}
.navbar .nav > li > a {
    padding: 10px;
    border: 1px solid #ddd;
    border-bottom: 2px solid #8A8A8A;
    margin: 22px 0 21px 8px;
    font-size: 18px;
    color: #545557;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    transition: background-color 0.5s ease
}
.navbar .nav > li > a:hover {
    background-color: #DA272B;
    border: 1px solid #fff;
    border-bottom: 2px solid #A11111;
    color: #fff!important;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px
}
.navbar .brand {display: block;float: left;padding: 10px 0}
.navbar-fixed-top {top: 0}
.navbar-fixed-top, .navbar-fixed-bottom {position: fixed;right: 0;left: 0;z-index: 1030;margin-bottom: 0}
.nav li:last-child a {margin-right: 0}
.m-contact2 {text-align: right;color: #DA272B;margin: 22px 0}
.msocial {text-align: right;color: #DA272B;margin: 8px 0 8px 15px}
.msocial ul {margin: 0;padding: 0;list-style: none}
.msocial ul li {margin-bottom: 3px}
.msocial ul li:last-child {margin-bottom: 0}
.msocial span {font-size: 21px}
.msocial .i-fbook1 {color: #405A91}
.msocial .i-youtube {color: #C11024}
.msocial .i-gplus {color: #E1302B}
.m-contact2 p {color: #666;margin: 0;padding: 0;font-size: 10px;line-height: normal}
.navbar-fixed-top {min-height: 89px;height: 89px;padding-top: 0}
.navbar-inner {
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    border: none;
    border-bottom: 1px solid #DA272B;

    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
@media(max-width:991px) {
    .navbar .brand img {width: 134px;padding: 7px 0}
}
@media(min-width:992px) {
    .navbar .brand img {width: 200px;padding: 10px 0}
}
.m-contact1 {display: none}
.menu2 .m-contact1 {display: block}
.menu2 .msocial, .menu2 .m-contact2 {display: none!important}
.menu2.navbar .brand img {width: 134px;padding: 7px 0}
.menu2 .pull-left {float: right!important}
.menu2 .tmenu {display: none}
.menu2.navbar .nav > li > a {padding: 10px 0 10px 30px;text-decoration: none;vertical-align: middle;margin: 11px 0;font-size: 20px;color: #545557;border: none}
.menu2.navbar .nav > li > a:hover {background-color: transparent;color: #DA272B!important}
.menu2.navbar .nav > li:hover > a {color: #DA272B}
.navbar .nav > .phone > a {color: #DA272B!important}
.navbar .nav > .mbold > a {font-weight: 700}
.menu2 .micon {margin: 0}
.tmenu {font-size: 13px;font-weight: 700}
.sb-menu .micon {margin-right: 5px}
.micon {margin-right: 5px}
.micon2 {margin-right: 0}
.movil {padding-top: 18px;float: left;color: #000}
.movil span {font-size: 24px;cursor: pointer;padding: 0 15px 15px 0}
/* end main navigation */

/* collapse option1 y option2 */
.option,.option2 {cursor: pointer}
.collapse {display: none}
.oam {color:#fff;font-weight: normal;font-size: 0.765em}
.oam:hover {text-decoration: underline}
.oam div {
    width: 20px;
    height: 20px;
    padding: 0 5px;
    font-size: 0.8em;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease
}
.oam .i-down {display:inline-block}
.arrow-up {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg)
}
/* end collapse option1 y option2 */

/* motor inputs */
label.fmlabel {line-height: 32px;font-weight: normal;font-size: 0.765em;font-family: 'Roboto', sans-serif}
@media (max-width:767px) {
    .fmlabel.s2 {font-size: 11px}
}
@media (min-width:768px) {
    .fmlabel.s2 {font-size: 0.765em}
}
input.mtext {
    width: 100%;
    height: 32px;
    border: none;
    color: #777;
    padding: 0 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.765em;
    font-weight: normal; 
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -ms-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    box-shadow: 0 2px 6px rgba(0,0,0,0.4)
}
/* end motor inputs */

/* flight search button */
button.search-btn {
    margin-bottom: 2px;
    width:100%;
    border:none;
    background-color:#FBB733;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    padding: 12px 10px 8px 12px;
    color:#303030;
    font-size:0.9em;
    font-weight:bold;
    border-bottom:3px solid #FF6A00;
    letter-spacing:5px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -ms-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -webkit-transition: background-color 1s ease, border-bottom 1s ease;
    -moz-transition: background-color 1s ease, border-bottom 1s ease;
    -ms-transition: background-color 1s ease, border-bottom 1s ease;
    -o-transition: background-color 1s ease, border-bottom 1s ease;
    transition: background-color 1s ease, border-bottom 1s ease
}
button.search-btn:hover {background-color: #FFCB65;border-bottom:3px solid #FFCB65}
button.search-btn:focus {outline: 0}
button.search-btn:active {margin-top: 2px;margin-bottom: 0}
.search-btn .i-search {margin-right:5px;font-size:0.824em}
/* end flight search button */

/* flight-motor */
.fmt {color: #ffc64b}
.fmt h2 {color: #ffc64b;margin: 0;padding: 0;line-height: 18px;font-weight: 300}
@media (max-width:767px) {
    .fmt h2 {font-size: 15px}
}
@media (min-width:768px) {
    .fmt h2 {font-size: 17px}
}
.fmt .i-up {color: #ffc64b;padding: 0 4px;left: 0;position: absolute;font-size: 11px}
.flights-motor {background-color:#D9232E;padding-top:15px;padding-bottom: 5px}
@media (max-width:991px) {
    .flights-motor {margin-top:65px}
}
@media (min-width:992px) {
    .flights-motor {margin-top:91px;}
}
/* end flight-motor */

/* checkbox y radiobutton flight motor */
.btn {
    position: relative;
    height: 32px;
    padding: 6px 12px 6px 30px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: none;
}
@media (max-width:767px) {
    .btn {font-size: 10px}
}
@media (min-width:768px) {
    .btn {font-size: 13px}
}
@media (max-width:991px) {
    .justified {display: table;width: 100%;margin-bottom: 15px}
    .justified > .btn {display: table-cell;width: 1%;border-right: 2px solid #D9232E}
    .justified > .btn:last-child {border-right: none}
    .justified label:first-child {border-top-left-radius: 4px;border-bottom-left-radius: 4px}
    .justified label:last-child {border-top-right-radius: 4px;border-bottom-right-radius: 4px}
}
@media (min-width:992px) {
    .justified {display: inline-block;width: normal}
    .justified > .btn {display: block;width: 100%;margin-bottom: 10px}
    .justified > .btn:last-child {display: block;width: 100%;margin-bottom: 0}
    .justified label {border-radius: 4px}
}
.justified {table-layout: fixed;border-collapse: separate}
.justified > .btn {color: rgba(255, 255, 255, 0.55);float: none}
[data-toggle="buttons"] > .btn input[type="radio"], [data-toggle="buttons"] > .btn-group > .btn input[type="radio"], [data-toggle="buttons"] > .btn input[type="checkbox"], [data-toggle="buttons"] > .btn-group > .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none
}
.ibtn {background-color: rgba(255, 255, 255, 0.13);color: #333;transition: all 0.5s ease}
.ibtn:before {font-size: 18px;content: "\f10c";position: absolute;left: 0;padding-left: 6px;font-family: Icon;}
.ibtn:active, .ibtn.active {background-color: #BF1F29;color: #fff}
.ibtn:active:before, .ibtn.active:before {font-size: 18px;content: "\f10a";position: absolute;left: 0;padding-left: 6px;font-family: Icon}
.ibtn:hover, .ibtn:focus {background-color: rgba(191, 31, 41, 0.72);color: #fff}
/* fin checkbox y radiobutton flight motor */

/* scroll to up */
.scrollup {text-align: center;cursor: pointer;width: 80px;height: 80px;font-size: 33px;position: fixed;bottom: 15px;right: 16px;display: none;background-color: rgba(255, 255, 255, 0.3);padding: 8px}
.scrollup > a {text-decoration: none;position: relative;top: 20px;color: #191a1c}
/* end scroll to up */

/* slidebar menu */
.sb-toggle-left {cursor: pointer}
.sb-slidebar {background-color: #222;color: #e8e8e8}
.sb-slidebar a {
    color: #fff;
    text-decoration: none;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease
}
.sb-slidebar a:hover {color: #DA272B;text-decoration: underline}
.sb-menu {padding: 0;margin: 0;list-style-type: none}
.sb-menu li {width: 100%;padding: 0;margin: 0;border-top: 1px solid rgba(255, 255, 255, 0.1);border-bottom: 1px solid rgba(0, 0, 0, 0.1)}
.sb-menu > li:first-child {border-top: none}
.sb-menu > li:last-child {border-bottom: none}
.sb-menu li a {width: 100%;display: inline-block;padding: 1em}
.sb-menu li a:hover {text-decoration: none;background-color: rgba(255, 255, 255, 0.05)}
.sb-left .sb-menu li a {border-left: 3px solid transparent;font-size: 13px}
.sb-left .sb-menu li a:hover {border-left: 3px solid}
.sb-menu li .sb-open-right, .sb-menu li small {display: inline-block;padding: 14px}
/* end slidebar menu */

/* switch view */
.cview {border-top: 1px solid #ddd;padding: 25px 0}
.reView {display: none}
.reView.i-comment:before {padding-right: 10px}
a.reView {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border:none;
    background-color:#FBB733;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
    padding: 12px 10px 8px 12px;
    color:#303030;
    font-size:0.9em;
    font-weight:bold;
    border-bottom:3px solid #FF6A00;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -ms-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4);
    box-shadow: 0 2px 6px rgba(0,0,0,0.4);
}
/* end switch View */

/* prefoot direccion */
.add {font-family: 'Roboto', sans-serif;font-size: 12px;color: #666;border-top: 1px solid #ddd;padding: 25px 0;text-align: center}
.add .i-pin {font-size: 15px;margin-right:5px}
/*  end prefoot direccion */

/* prefoot */
ul.pfoot {margin: 0;padding: 0}
ul.pfoot li {font-family: 'Roboto', sans-serif;margin: 0;padding: 0;display: inline-block;color: #666;font-size: 12px;margin-right: 10px}
ul.pfoot li:last-child {margin-right: 0}
@media (max-width:768px) {
    ul.pfoot li img {height: 40px}
}
@media (max-width:1199px) {
    .prefoot .tac, .prefoot .tar, .prefoot .tal {text-align: center}
    .prefoot > .container-fluid > .row > div {border-top: 1px solid #ddd;padding: 20px 0}
}
@media (min-width:1200px) {
    .prefoot {padding:20px 0;border-top: 1px solid #ddd}
}
@media (max-width:1439px) {
    ul.pfoot li:first-child {display: none}
}
/* end prefoot */

/* footer */
.footer {padding: 30px 0;background: #191a1c;text-align: center}
.footer .leg {color: #A2A2A2;font-size: 0.675em;line-height: 30px}
.footer ul.submen1, .footer ul.submen2 {margin: 0;padding: 0;list-style-type: none}
.footer ul.submen1 li, .footer ul.submen2 li {font-weight: normal;font-size: 0.765em;margin: 0;padding: 0;list-style-type: none;display: inline-block;padding-bottom: 12px}
@media(max-width:991px) {
    .footer .submen1 a, .footer .submen2 a {
        color: #D9232E;
        padding: 5px 10px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
    }
    .footer .submen1 a:hover, .footer .submen2 a:hover {background-color: rgba(255, 255, 255, 0.03);color: #FF000F}
}
@media(min-width:992px) {
    .footer .submen1 a, .footer .submen2 a {
        color: #D9232E;
        padding: 7px 17px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -ms-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease
    }
    .footer .submen1 a:hover, .footer .submen2 a:hover {background-color: rgba(255, 255, 255, 0.03);color: #FF000F}
}
.submen2 .i-book{color:#fff;margin-right:8px;}
/* end footer */